<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/menu.css">

  </head>

  <body>
    <div class="container-fluid">

      <div class="navbar navbar-inverse " role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="fa fa-check"></i> Venezuela Segura</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/sucesos">Sucesos</a></li>
              <li><a href="/list">My List</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="main-image">
            <div class="greeting">
              <img src="/images/logo.jpg" class="img-responsive" />
              <div class="quienes-somos">
                <h4>¡<%- title %> </h4>
                <h5>Municipio <%- municipio %>, Estado <%- estado %>!</h5>
              </div>
              <div class="social">
                <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/guayana_segura" target="_blank"><span class="fa fa-twitter"></span></a>
                <a class="btn btn-social-icon btn-facebook" ><span class="fa fa-facebook"></span></a>
                <!-- <a class="btn btn-social-icon btn-instagram" ><span class="fa fa-instagram"></span></a> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      

      <div class="container-fluid">
          <div class="row">
            <h4 class="featurette-heading"><%- title1 %></h4>
                <%- body %>
          </div>
          
      </div>
    </div>
    
      
    
  </body>

</html>