<% _.each(homicidios, function(suceso) { %>
<div class="col-sm-12">
  <div class="panel panel-primary">
    <div class="panel-heading"><?php echo $today;?> Mapa Acumulado de homicidios por Parroquias,
      Municipio <?php echo $muni_descri;?>, Mes Actual = <a href="http://45.55.226.230/sucesos/lis_homicidios_con_ano_mes_caro.php?ano=<%= suceso.homi_mes %>&mes=<%=  suceso.homi_mes %>" class = "btn-warning" target="blank"><%= suceso.homi_mes %> ,</a> Mes Anterior = <a href="http://45.55.226.230/sucesos/lis_homicidios_con_ano_mes_caro.php?ano=<%= suceso.homi_mes_ant %>&mes=<%=  suceso.homi_mes_ant %>" class = "btn-warning" target="blank"><%= suceso.homi_mes_ant %> ,</a>
      
      
      
    </div>
    <div class="panel-body" id="link-map">
      <?php include 'maps/parroquias_caroni__.php'; ?>
    </div>
  </div>
</div>
<% }) %>

