

<div class="col-sm-12">
    <% _.each(acumu_meses, function(acumu_mes) { %>

  <div class="panel panel-primary">
    <div class="panel-heading"><%= acumu_mes.fecha %> Acumulado de Homicidios,
      Municipio <%= municipio %>, Estado <%= estado %>, Año = <a href="http://34.229.201.249/sucesos/lis_homicidios_con_ano_caro.php?ano=<%= acumu_mes.ano %>&mes=<%=  acumu_mes.mes %>" class = "btn-warning" target="blank"><%= acumu_mes.total %> ,</a>
      Mes Actual = <a href="http://34.229.201.249/sucesos/lis_homicidios_con_ano_mes_caro.php?ano=<%= acumu_mes.ano %>&mes=<%=  acumu_mes.mes %>" class = "btn-warning" target="blank"><%= acumu_mes.tot_mes %> ,</a> 
    <% }) %>
    <% _.each(homi_mes_antes, function(homi_mes_ante) { %>
      Mes Anterior = <a href="http://34.229.201.249/sucesos/lis_homicidios_con_ano_mes_caro.php?ano=<%= homi_mes_ante.ano %>&mes=<%=  homi_mes_ante.mes %>" class = "btn-warning" target="blank"><%= homi_mes_ante.homi_mes_ant %> ,</a>
    <% }) %>
    
    </div>
    
    <table class="table table-responsive table-bordered" id="">
      <thead>
        <tr>
          <th>Ene</th>
          <th>Feb</th>
          <th>Mar</th>
          <th>Abr</th>
          <th>May</th>
          <th>Jun</th>
          <th>Jul</th>
          <th>Ago</th>
          <th>Sep</th>
          <th>Oct</th>
          <th>Nov</th>
          <th>Dic</th>
        </tr>
      </thead>

      <% _.each(acumu_meses, function(acumu_mes) { %>

        <tr data-id="<%= acumu_mes.ano %>" data-model="acumu_mes">
          <td><%= acumu_mes.ene %>
          <td><%= acumu_mes.feb %>
          <td><%= acumu_mes.mar %>
          <td><%= acumu_mes.abr %>
          <td><%= acumu_mes.may %>
          <td><%= acumu_mes.jun %>
          <td><%= acumu_mes.jul %>
          <td><%= acumu_mes.ago %>
          <td><%= acumu_mes.sep %>
          <td><%= acumu_mes.oct %>
          <td><%= acumu_mes.nov %>
          <td><%= acumu_mes.dic %>

      <% }) %>

    </table>
  </div>


  <table class='table table-striped table-bordered' id="datatables">
    <thead>
      <tr>
          <th>ID
          <th>Fecha
          <th>Titulo
          <th>Nombre
          
      </tr>
    </thead>
  <% _.each(sucesos, function(suceso) { %>
      <tr data-id="<%= suceso.suceso_id %>" data-model="suceso">
          <td><a href="/suceso?suceso=<%= suceso.suceso_id %>" class="ampliar"><%= suceso.suceso_id %>
          <td><%= suceso.fecha_suceso %>
          <td><%= suceso.titulo %>
          <td><%= suceso.nombre_victima %>
          

      </tr>
  <% }) %>

  </table>

</div>

<div class="ajaxcont"></div>    

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
<script src="js/forms.js"></script>
  <script>
    $(".ampliar").click(function(e){
      console.log('eale');
      e.preventDefault();
      $.ajax({
        method: "GET",
        url: $(this).attr('href'),     
      })
      .done(function(data) {
        $('.ajaxcont').html(data);
        
      });
    });
  </script>

  <script type="text/javascript">
    $(document).ready(function(){
      $('#datatables').dataTable({
        "order": [[ 1, 'desc' ]]
      });
    })
  </script>

    

    