

<div class="col-sm-12">
    <% _.each(acumu_meses, function(acumu_mes) { %>

  <div class="panel panel-primary">
    <div class="panel-heading"><%= acumu_mes.fecha %> Acumulado de Homicidios,
      Municipio <%= municipio %>, Estado <%= estado %>, Año = <a href="http://45.55.226.230/sucesos/lis_homicidios_con_ano_caro.php?ano=<%= acumu_mes.ano %>&mes=<%=  acumu_mes.mes %>" class = "btn-warning" target="blank"><%= acumu_mes.total %> ,</a>
      Mes Actual = <a href="http://45.55.226.230/sucesos/lis_homicidios_con_ano_mes_caro.php?ano=<%= acumu_mes.ano %>&mes=<%=  acumu_mes.mes %>" class = "btn-warning" target="blank"><%= acumu_mes.tot_mes %> ,</a> 
    <% }) %>
    <% _.each(homi_mes_antes, function(homi_mes_ante) { %>
      Mes Anterior = <a href="http://45.55.226.230/sucesos/lis_homicidios_con_ano_mes_caro.php?ano=<%= homi_mes_ante.ano %>&mes=<%=  homi_mes_ante.mes %>" class = "btn-warning" target="blank"><%= homi_mes_ante.homi_mes_ant %> ,</a>
    <% }) %>
    
    </div>
    
    <table class="table table-responsive table-bordered" id="">
      <thead>
        <tr>
          <th>Ene</th>
          <th>Feb</th>
          <th>Mar</th>
          <th>Abr</th>
          <th>May</th>
          <th>Jun</th>
          <th>Jul</th>
          <th>Ago</th>
          <th>Sep</th>
          <th>Oct</th>
          <th>Nov</th>
          <th>Dic</th>
        </tr>
      </thead>

      <% _.each(acumu_meses, function(acumu_mes) { %>

        <tr data-id="<%= acumu_mes.ano %>" data-model="acumu_mes">
          <td><%= acumu_mes.ene %>
          <td><%= acumu_mes.feb %>
          <td><%= acumu_mes.mar %>
          <td><%= acumu_mes.abr %>
          <td><%= acumu_mes.may %>
          <td><%= acumu_mes.jun %>
          <td><%= acumu_mes.jul %>
          <td><%= acumu_mes.ago %>
          <td><%= acumu_mes.sep %>
          <td><%= acumu_mes.oct %>
          <td><%= acumu_mes.nov %>
          <td><%= acumu_mes.dic %>

      <% }) %>

    </table>
  </div>

  <% _.each(sucesos, function(suceso) { %>
          
          <div class='col-xs-3'>
            <div class='panel panel-primary'>
              <div class='panel-body altosuceso'><a href="/suceso?suceso=<%= suceso.suceso_id %>" class="ampliar"><img class="img-responsive" src="http://45.55.226.230/img/<%= suceso.suceso_id %>.jpg" /></a>
                <div class='col-xs-12 col-md-12'><a href=<%= suceso.fuente %> target='_blank'><h4><small><%= suceso.fecha_suceso + ' ' +suceso.titulo%></small></a></div>
                <div class='col-xs-12 col-md-12'><a href="http://45.55.226.230:1337/api/sucesos/sql" class="json"><h4><small><%= suceso.fecha_suceso + ' ' +suceso.titulo%></small></a></div>
              </div>

            </div>
          </div>

        
  <% }) %>
  
</div>

<div class="ajaxcont"></div>    

<!-- paginador de sucesos-->
      <div class="row">
          <div id="miTabla"></div>
      </div>

<button id="ajax">ajaxxx call</button>
<button id="json" class="json">jsonsss</button>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
<script src="js/forms.js"></script>
<script>
  $(".ampliar").click(function(e){
    console.log('eale');
    e.preventDefault();
    $.ajax({
      method: "GET",
      url: $(this).attr('href'),     
    })
    .done(function(data) {
      $('.ajaxcont').html(data);
      
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $('#datatables').dataTable({
      "order": [[ 1, 'desc' ]]
    });
  })
</script>

<script>
  $(".json").click(function(e){
    e.preventDefault();
  	$.ajax({ 
  		type: "GET",
  		dataType: "json",
  		url: "/api/sucesos/sql",
  		success: function(data){        
  			var lista = data;
  			$("#miTabla").html("");

  			$.each(lista, function(ind, elem){
  				alert(JSON.stringify(lista));
  				var fecha = elem.fecha_suceso;
  				var titulo = elem.titulo;
  				var fuente = encodeURI(elem.fuente);
  				$("<div class='col-xs-3'><div class='panel panel-primary'><div class='panel-body altosuceso'>"+
  				  "<a href='sucesos/suceso_no_modal.php?suceso_id="+elem.suceso_id+"' target='_blank'><img src='img/"+elem.suceso_id+".jpg' class='altoimagen'></a>"+
  				"<div class='col-xs-12 col-md-12'><a href="+fuente+" target='_blank'><h4><small>"+fecha+" "+titulo+"</small></a></div>"+
  				  "</div></div></div>")
  				.appendTo($("#miTabla"));

  			});
  		}
  	});
    
  });
</script>



<script>

	$(function(){
		console.log('eale');
		$.ajax({ 
			type: "GET",
			dataType: "json",
			url: "/api/sucesos/sql",
			success: function(data){        
				var lista = data;
				$("#miTabla").html("");

				$.each(lista, function(ind, elem){
					alert(JSON.stringify(lista));
					var fecha = elem.fecha_suceso;
					var titulo = elem.titulo;
					var fuente = encodeURI(elem.fuente);
					$("<div class='col-xs-3'><div class='panel panel-primary'><div class='panel-body altosuceso'>"+
					  "<a href='sucesos/suceso_no_modal.php?suceso_id="+elem.suceso_id+"' target='_blank'><img src='img/"+elem.suceso_id+".jpg' class='altoimagen'></a>"+
					"<div class='col-xs-12 col-md-12'><a href="+fuente+" target='_blank'><h4><small>"+fecha+" "+titulo+"</small></a></div>"+
					  "</div></div></div>")
					.appendTo($("#miTabla"));

				});
			}
		});

	});

</script>

    

    