<div class="col-sm-12"><% _.each(registros, function(registro) { %><%= registro.total %><% }) %>
    <% _.each(acumu_meses, function(acumu_mes) { %>
  <div class="panel panel-primary">
    <div class="panel-heading"><%= acumu_mes.fecha %> Acumulado de Homicidios, 
      Municipio <%= municipio %>, Estado <%= estado %>, Año = <a href="http://23.96.60.84/sucesos/lis_homicidios_con_ano_caro.php?ano=<%= acumu_mes.ano %>&mes=<%=  acumu_mes.mes %>" class = "btn-warning" target="blank"><%= acumu_mes.total %> ,</a>
      Mes Actual = <a href="http://23.96.60.84/sucesos/lis_homicidios_con_ano_mes_caro.php?ano=<%= acumu_mes.ano %>&mes=<%=  acumu_mes.mes %>" class = "btn-warning" target="blank"><%= acumu_mes.tot_mes %> ,</a> 
    <% }) %>
    <% _.each(homi_mes_antes, function(homi_mes_ante) { %>
      Mes Anterior = <a href="http://23.96.60.84/sucesos/lis_homicidios_con_ano_mes_caro.php?ano=<%= homi_mes_ante.ano %>&mes=<%=  homi_mes_ante.mes %>" class = "btn-warning" target="blank"><%= homi_mes_ante.homi_mes_ant %> ,</a>
    <% }) %>
    
    </div>
    
    <table class="table table-responsive table-bordered" id="">
      <thead>
        <tr>
          <th>Ene</th>
          <th>Feb</th>
          <th>Mar</th>
          <th>Abr</th>
          <th>May</th>
          <th>Jun</th>
          <th>Jul</th>
          <th>Ago</th>
          <th>Sep</th>
          <th>Oct</th>
          <th>Nov</th>
          <th>Dic</th>
        </tr>
      </thead>

      <% _.each(acumu_meses, function(acumu_mes) { %>

        <tr data-id="<%= acumu_mes.ano %>" data-model="acumu_mes">
          <td><%= acumu_mes.ene %>
          <td><%= acumu_mes.feb %>
          <td><%= acumu_mes.mar %>
          <td><%= acumu_mes.abr %>
          <td><%= acumu_mes.may %>
          <td><%= acumu_mes.jun %>
          <td><%= acumu_mes.jul %>
          <td><%= acumu_mes.ago %>
          <td><%= acumu_mes.sep %>
          <td><%= acumu_mes.oct %>
          <td><%= acumu_mes.nov %>
          <td><%= acumu_mes.dic %>

      <% }) %>

    </table>
  </div>
  
</div>

<div class="ajaxcont"></div>    

<!-- Paginador de sucesos-->
<div class="row">
    <div id="miTabla"></div>
</div>

<div class="col-md-12 text-center">
		<ul class="pagination" id="paginador"></ul>
</div>
<!-- Fin paginador de sucesos-->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
<script src="js/forms.js"></script>
<script>
  $(".ampliar").click(function(e){
    console.log('eale');
    e.preventDefault();
    $.ajax({
      method: "GET",
      url: $(this).attr('href'),     
    })
    .done(function(data) {
      $('.ajaxcont').html(data);
      
    });
  });
</script>


<script>
	$(function(){
		//registros en la BD
		<% _.each(registros, function(registro) { %>
			var total = <%= registro.total %>;
		<% }) %>;
		creaPaginador(total);
	});

</script>

<script type="text/javascript">

	var paginador;
	var totalPaginas;
	var itemsPorPagina = 8;
	var numerosPorPagina = 8;
	
	function creaPaginador(totalItems)
	{
		
		paginador = $(".pagination");

		totalPaginas = Math.ceil(totalItems/itemsPorPagina);
		$('<li><a href="#" class="first_link"><</a></li>').appendTo(paginador);
		$('<li><a href="#" class="prev_link">«</a></li>').appendTo(paginador);

		var pag = 0;
		while(totalPaginas > pag)
		{
			$('<li><a href="#" class="page_link">'+(pag+1)+'</a></li>').appendTo(paginador);
			pag++;
		}


		if(numerosPorPagina > 1)
		{
			$(".page_link").hide();
			$(".page_link").slice(0,numerosPorPagina).show();
		}

		$('<li><a href="#" class="next_link">»</a></li>').appendTo(paginador);
		$('<li><a href="#" class="last_link">></a></li>').appendTo(paginador);

		paginador.find(".page_link:first").addClass("active");
		paginador.find(".page_link:first").parents("li").addClass("active");

		paginador.find(".prev_link").hide();

		paginador.find("li .page_link").click(function()
		{
			var irpagina =$(this).html().valueOf()-1;
			cargaPagina(irpagina);
			return false;
		});

		paginador.find("li .first_link").click(function()
		{
			var irpagina =0;
			cargaPagina(irpagina);
			return false;
		});

		paginador.find("li .prev_link").click(function()
		{
			var irpagina =parseInt(paginador.data("pag")) -1;
			cargaPagina(irpagina);
			return false;
		});

		paginador.find("li .next_link").click(function()
		{
			var irpagina =parseInt(paginador.data("pag")) +1;
			cargaPagina(irpagina);
			return false;
		});

		paginador.find("li .last_link").click(function()
		{
			var irpagina =totalPaginas -1;
			cargaPagina(irpagina);
			return false;
		});

		cargaPagina(0);

	}    



	function cargaPagina(pagina){
		//alert(pagina);
			
		var desde = pagina * itemsPorPagina;

		$.ajax({
			data:{"param1":"dame","limit":itemsPorPagina,"offset":desde},
			type:"GET",
			dataType:"json",
			url:"/api/sucesos/sql_"
		}).done(function(data,textStatus,jqXHR){ 
			
			var lista = data;
			//alert(JSON.stringify(lista));
			$("#miTabla").html("");

			$.each(lista, function(ind, elem){
				var fecha = elem.fecha_suceso;
				var titulo = elem.titulo;
				var fuente = encodeURI(elem.fuente);
				$("<div class='col-xs-3'><div class='panel panel-primary'><div class='panel-body altosuceso'>"+
					  "<a href='/suceso?suceso="+elem.suceso_id+"' class='ampliar'>"+
					  "<img src='http://23.96.60.84/img/"+elem.suceso_id+".jpg' class='altoimagen'></a>"+
					  "<div class='col-xs-12 col-md-12'><a href="+fuente+" target='_blank'>"+
					  "<h4><small>"+fecha+" "+titulo+"</small></a></div>"+
					  "</div></div></div>")
				.appendTo($("#miTabla"));

			});


		}).fail(function(jqXHR,textStatus,textError){
			alert("Error al realizar la peticion dame".textError);

		});

		if(pagina >= 1)
		{
			paginador.find(".prev_link").show();

		}
		else
		{
			paginador.find(".prev_link").hide();
		}


		if(pagina <(totalPaginas- numerosPorPagina))
		{
			paginador.find(".next_link").show();
		}else
		{
			paginador.find(".next_link").hide();
		}

		paginador.data("pag",pagina);

		if(numerosPorPagina>1)
		{
			$(".page_link").hide();
			if(pagina < (totalPaginas- numerosPorPagina))
			{
				$(".page_link").slice(pagina,numerosPorPagina + pagina).show();
			}
			else{
				if(totalPaginas > numerosPorPagina)
					$(".page_link").slice(totalPaginas- numerosPorPagina).show();
				else
					$(".page_link").slice(0).show();

			}
		}

		paginador.children().removeClass("active");
		paginador.children().eq(pagina+2).addClass("active");


	}
</script>