<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
	  <div class="modal-body">

<% _.each(suceso, function(suceso) { %>


	<div class="panel panel-primary">
		<div class="panel-heading">Informacion del Suceso: <%= suceso.suceso_id %>
			<button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		</div>
		<div class="panel-body">
			<h5>Fecha Suceso:<%= suceso.dia %>&nbsp;&nbsp;Hora: <%= suceso.hora %></h5>
			<h5>Suceso: <%= suceso.detalle_delito %></h5>
			<h5>Titulo: <%= suceso.titulo %></h5>
			<h5>Victima: <%= suceso.nombre_victima %>&nbsp;&nbspEdad: <%= suceso.edad %>&nbsp;&nbspSexo: <%= suceso.sexo %></h5>
			<h5>Municipio: <%= suceso.municipio %> Parroquia: <%= suceso.parroquia %>&nbsp;
			<h5>Detalle: <%= suceso.mi_resena %></h5>
			
		</div>

		<a href="<%= suceso.fuente %>" target="_blank"><img class="img-responsive" src="http://23.96.60.84/img/<%= suceso.suceso_id %>.jpg" /></a>

	</div>


<% }) %>




<script>
$( document ).ready(function() {
		//carga el modal al abrirse en pagina que lo llama
        $('#myModal').modal('show');
    });
</script>